<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.flink.dao.LogConfigMapper">
    <!--查询关键字匹配 -->
    <select id="queryLogConfig" resultType="com.lhs.flink.pojo.LogConfig">
        SELECT log_type AS logType,
        log_schema AS logSchema,
        column_recover AS columnRecover,
        sink_topic AS sinkTopic
        FROM flink_log_config
        WHERE online_status = 1
    </select>
</mapper>