<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.flink.rule.dao.LogConfigMapper">
    <!--查询关键字匹配 -->
    <select id="queryLogConfig" resultType="com.lhs.flink.rule.pojo.LogConfig">
        SELECT process_js AS processJS,
        function_name as functionName,
        id as id,
        online_status as status
        FROM flink_log_process_config
        WHERE online_status = 1
    </select>
</mapper>