<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianlai.streaming.single.dao.LogConfigMapper">
    <!--查询关键字匹配 -->
    <select id="queryRedisConfig" resultType="com.xianlai.streaming.single.pojo.RedisConfig">
        SELECT id AS id,
        redis_name as redisName,
        redis_properties as properties,
        online_status as status
        FROM streaming_single_redis_config
    </select>
</mapper>