<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
    <typeAliases>
        <typeAlias alias="DRUID" type="com.lhs.flink.dao.DruidDataSourceFactory" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="DRUID">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://10.122.238.97:13306/datacenter" />
                <property name="username" value="xl_test" />
                <property name="password" value="xianlai@test2018" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/logConfigMapper.xml" />
    </mappers>
</configuration>